@model WebApplication1.Models.Boteco

@{
    ViewBag.Title = "ShowCadastroForm";
}

@if (TempData["msg"] != null)
{
<div class="alert alert-success">
    @TempData["msg"]
</div>
}
<h2>Cadastrar Boteco</h2>
<div class="container">
    @using (Html.BeginForm())
    {
      
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Preencha o formulário</h4>
            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group col-md-6">
                @Html.LabelFor(b => b.Nome)
                @Html.TextBoxFor(b => b.Nome,new { @class = "form-control" })
            </div>

            <div class="form-group col-md-6"">
                @Html.LabelFor(b => b.Endereco)
                @Html.TextBoxFor(b => b.Endereco, new { @class = "form-control" })
            </div>

            <div class="form-group col-md-6"">
                @Html.LabelFor(b => b.DataDeInauguracao)
                @Html.TextBoxFor(b => b.DataDeInauguracao, new { @class = "form-control",@type = "date" })

            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(b => b.MusicaAoVivo)
                @Html.CheckBoxFor(b => b.MusicaAoVivo, new { @class = "checkbox" })
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Cadastrar" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>
